body {
  font-weight: 900;
  background-color: #ffedd5;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.engrave {
  color: transparent;
  background: #000000;
  background-clip: text;
  text-shadow: -4px 8px 7px #ffedd557;
}

.pop {
  color: white;
  text-shadow: 0px 0px 7px black;
}

div h1 {
  font-size: 4.5rem;
}
